/* Bulkyard Index CSS */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&family=Kdam+Thmor+Pro&family=Rubik+Dirt&display=swap');

:root {
    --primary-color: #00F703;
    --secondary-color: #034732;
    --accent1-color: #F4FFF8;
    --accent2-color: #000000;
  
    --heading-font: "Rubik Dirt";
    --paragraph-font: "Kdam Thmor Pro", "Fira Sans", sans-serif;
}

header{
    text-align: center;
    background: var(--primary-color);
}

.logo{
    margin: auto;
    width: 50%;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    padding: 35px;
    background-color: var(--primary-color);
    font-size: 200%;
    font-family: var(--paragraph-font);
    text-decoration: none;
}

nav a:hover{
    background-color: var(--accent1-color);
}

#content{
    /* display: grid; */
}

.top img{
    width: 100%;
}

.top{
    text-align: center;
    font-family: var(--paragraph-font);
}