 /* Bulkyard site cs

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&family=Kdam+Thmor+Pro&family=Rubik+Dirt&display=swap');

:root{
    --heading-font: "Rubik Dirt";
    --paragraph-font: "Kdam Thmor Pro", "Fira Sans", sans-serif;

    --primary-color: #00F703;
    --secondary-color: #034732;
    --accent1-color: #F4FFF8;
    --accent2-color: #000000;
}

header{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

header img{
    grid-row: 1;
    grid-column: 2/3;
    width: 20%;
}


nav a{
    text-align: center;
    text-decoration: none;
    padding: 50px;
    /* grid-row: 2/3; */
    /* grid-column: 1/3; */
/* }    */
/* 
nav{
    justify-content: space-around;
    grid-column: 1/3;
    grid-row: 2/3;
    padding: auto;
}

nav a:hover{
    color: white;
    background-color: #0F1A20;
}

#logo-link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
} */ */

/* #content img{
    width: 30em;
}

.home-grid{
    display: grid;
    grid-template-columns: auto;
}

.home-grid h2{
    font-family: var(--heading-font);
}

.home-title{
    font-size: 2em;
    margin-top: 10px;
    color: black;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

.top{
    text-align: center;
}

.top img{
    width: 80%;
    margin: 100px;
} */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;900&family=Kdam+Thmor+Pro&family=Rubik+Dirt&display=swap');

:root{
    --heading-font: "Rubik Dirt";
    --paragraph-font: "Kdam Thmor Pro", "Fira Sans", sans-serif;

    --primary-color: #00F703;
    --secondary-color: #034732;
    --accent1-color: #F4FFF8;
    --accent2-color: #000000;
}

header {
}

.logo_link{
    justify-content: center;
    width: 20%;
}